@charset "UTF-8";

@keyframes downIn {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes hover {
    0% {
        transform: translateX(10000px);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@font-face {
    font-family: kt;
    src: url(font/kt.ttf);
}

div {
    font-family: kt;
}

img {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1 {
    margin-left: 40%;
    margin-top: -20%;
    font-size: 300%;
}

a {
    text-decoration: none;
    color: #000;
}

.feed {
    animation: downIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

.sqr {
    margin: auto;
    margin-top: 10%;
    width: 910px;
    height: 550px;
    border: solid 9px #fff;
    border-radius: 30px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
}

.name {
    margin-left: 28%;
    margin-top: -5%;
    font-size: 550%;
}

.id {
    margin-left: 45%;
    margin-top: -12%;
    font-size: 350%;
    color: #8bdaff;
}

.icon1 {
    position: relative;
    margin-left: 30%;
    top: -13.5%;
    font-size: 350%;
}
.icon1:hover::after {
    opacity: 0.8;
    content: 'Shicoku_';
    font-size: 70%;
    animation: hover 1s cubic-bezier(0.1, 1, 0.1, 1) 1 forwards;
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background:#23e5ec;
    transition: all .1s;
    transform: scale(0, 1);
    transform-origin: left top;
}
.icon2 {
    position: relative;
    margin-left: 1%;
    top: -13.5%;
    font-size: 350%;
}
.icon2:hover::after {
    opacity: 0.8;
    content: 'H2DH8K';
    font-size: 70%;
    animation: hover 1s cubic-bezier(0.1, 1, 0.1, 1) 1 forwards;
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background:#23e5ec;
    transition: all .1s;
    transform: scale(0, 1);
    transform-origin: left top;
}

.dis:hover::after {
    opacity: 0.8;
    content: 'Shicoku';
    font-size: 70%;
    animation: hover 1s cubic-bezier(0.1, 1, 0.1, 1) 1 forwards;
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background:#2f006d;
    transition: all .1s;
    transform: scale(0, 1);
    transform-origin: left top;
}
.git:hover::after {
    opacity: 0.8;
    content: 'texture08';
    font-size: 60%;
    animation: hover 1s cubic-bezier(0.1, 1, 0.1, 1) 1 forwards;
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background:#000000;
    transition: all .1s;
    transform: scale(0, 1);
    transform-origin: left top;
}

.comment {
    margin-left: 5%;
    margin-top: -4%;
    font-size: 330%;
}

.btn {
    margin-left: 70%;
    top: -25%;
    border: 2px solid #000000;
    border-radius: 50px;
    font-size: 230%;
    display: inline-block;
    padding: 20px 50px;
    position: relative;

    color: #000000;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.btn:before{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #000000;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    color: #ecf0f1;
}
.btn:hover:before{
    left: 0;
}

.copy {
    position: relative;
    margin-left: 5%;
    top: -25%
}

.red {
    color: red;
}

@media screen and (max-width: 480px) {
	.pc {
        /* display: none; */
        transform: scale(0.45, 0.45);
        margin-left: -150px;
    }
}